---
layout: default
---

<div class="contenido">
<h1 class="titulo">🗺 Precio del combustible por Comunidad Autónoma</h1>
    <div id="indice">
        <h3 class="toc-title">Índice</h3>
        <ul>
            <li><a href="#ComparativaCCAA">Comparativa del Precio de los Combustibles por Comunidades Autónomas</a></li>
            <li><a href="#precioBiodiesel">Evolución del Precio del Biodiesel</a></li>
            <li><a href="#precioBioetanol">Evolución del Precio del Bioetanol</a></li>
            <li><a href="#precioGasesLicuados">Evolución del Precio de los Gases Licuados del Petróleo</a></li>
            <li><a href="#precioGasNaturalC">Evolución del Precio del Gas Natural Comprimido</a></li>
            <li><a href="#precioGasNaturalL">Evolución del Precio del Gas Natural Licuado</a></li>
            <li><a href="#precioGasoleoA">Evolución del Precio del Gasoleo A</a></li>
            <li><a href="#precioGasoleoB">Evolución del Precio del Gasoleo B</a></li>
            <li><a href="#precioGasoleoPre">Evolución del Precio del Gasoleo Premium</a></li>
            <li><a href="#precioGasolina95E5">Evolución del Precio de la Gasolina 95 E5</a></li>
            <li><a href="#precioGasolina95E5Pre">Evolución del Precio de la Gasolina 95 E5 Premium</a></li>
            <li><a href="#precioGasolina95E10">Evolución del Precio de la Gasolina 95 E10</a></li>
            <li><a href="#precioGasolina98E5">Evolución del Precio de la Gasolina 98 E5</a></li>
            <li><a href="#precioGasolina98E10">Evolución del Precio de la Gasolina 98 E10</a></li>
        </ul>
    </div>

    <h3 id="ComparativaCCAA">Comparativa del Precio de los Combustibles por Comunidades Autónomas</h3>
    {% include figuras/CCAA/comparativaPrecios.html %}

    <h3 id="precioBiodiesel">Evolución del Precio del Biodiesel por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioBiodiesel.html %}

    <h3 id="precioBioetanol">Evolución del Precio del Bioetanol por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioBioetanol.html %}

    <h3 id="precioGasesLicuados">Evolución del Precio de los Gases Licuados del Petróleo por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGaseslicuadosdelpetroleo.html %}

    <h3 id="precioGasNaturalC">Evolución del Precio del Gas Natural Comprimido por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasNaturalComprimido.html %}

    <h3 id="precioGasNaturalL">Evolución del Precio del Gas Natural Licuado por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasNaturalLicuado.html %}

    <h3 id="precioGasoleoA">Evolución del Precio del Gasoleo A por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasoleoA.html %}

    <h3 id="precioGasoleoB">Evolución del Precio del Gasoleo B por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasoleoB.html %}

    <h3 id="precioGasoleoPre">Evolución del Precio del Gasoleo Premium por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasoleoPremium.html %}

    <h3 id="precioGasolina95E5">Evolución del Precio de la Gasolina 95 E5 por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasolina95E5.html %}

    <h3 id="precioGasolina95E5Pre">Evolución del Precio de la Gasolina 95 E5 Premium por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasolina95E5Premium.html %}

    <h3 id="precioGasolina95E10">Evolución del Precio de la Gasolina 95 E10 por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasolina95E10.html %}

    <h3 id="precioGasolina98E5">Evolución del Precio de la Gasolina 98 E5 por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasolina98E5.html %}

    <h3 id="precioGasolina98E10">Evolución del Precio de la Gasolina 98 E10 por Comunidades Autónomas</h3>
    {% include figuras/CCAA/evolucionPrecioGasolina98E10.html %}

</div>